{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "complexity": ["error", { "max": 10 }],
    "no-debugger": true,
    "eqeqeq": ["error", "always"],
    "no-eval": true,
    "no-restricted-syntax": ["error", "FunctionExpression", "WithStatement"],
    "max-statements-per-line": ["error", { "max": 1 }],
    "curly": true,
    "no-array-constructor": true,
    "no-new-object": true,
    "no-bitwise": true,
    "no-new-wrappers": true,
    "guard-for-in": true,
    "no-inner-declarations":true,
    "comma-dangle": ["error", "never"],
    "no-cond-assign": true,
    "no-extra-label": true,
    "no-unreachable": true,
    "default-case": true,
    "no-fallthrough": true,
    "no-empty": true,
    "max-params": ["error", 3],
    "no-octal": true,
    "strict": ["error", "global"],
    "max-lines": ["error", {"max": 100, "skipBlankLines": true, "skipComments": true}],
    "indent": ["error", 2],
    "no-tabs": true,
    "no-implied-eval": true,
    "no-loop-func": true,
    "vars-on-top": true,
    "no-warning-comments": ["error", { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "no-extra-boolean-cast": true,
    "no-trailing-spaces": true,
    "line-comment-position": ["error", { "position": "above" }],
    "no-unused-vars": ["error", { "vars": "all", "args": "all" }],
    "no-alert": true,
    "semi": [2, "always"],
    "no-extra-semi": true,
    "no-sequences": true,
    "no-labels": true,
    "max-depth": ["error", { "max": 3 }]
  }
}
